<br>
<div class="col-md-8">
<div class="row" >
<section class="topspace topspace-40 whiteshadow ">
<div class="span14" style="background-color:white;color:#333;">
<div class="inner " style="background-color:white;color:#333;" >
<!--general instructions-->
<h2><span>Information Log</span></h2>
			<div class="heading_border"></div>

<!-- submission instructions-->
<h3>SUBMISSION OF PAPERS</h3>
<div>
<ul type="square" style="line-height:20px;font-size:14px;background-color:white">
<li>1. Authors are required to submit their papers (maximum of 8 A4 sized pages) adhering to the IEEE specified format (a copy of which is available for download in the site).</li>
<li>2. Authors must upload their papers onto the conference website.</li>
<li>3. The submitted papers must be original and unpublished.</li>
<li>4. Double blind peer reviews will be followed.</li>
<li>5. Registrations must be done online and a scanned copy of the Demand Draft must be enclosed with it.</li>
<li>6. The DD must be drawn in favour of "St.Joseph's Institute of Technology", payable within Chennai at any nationalised bank.</li>
<li>7. Selected papers will be pubished in the International Journal of Advances in Engineering, Research (IJAER).</li>
</ul>
</div>
<!-- Service text-->
<div >
<h3>REGISTRATION</h3>
	<ul style="line-height:20px;font-size:14px;background-color:white;color:black;">
		<li>1. Authors must register online at the conference website.</li>
		<li>2. A valid phone number and email ID must be given, along with a password of minimum 8 characters.</li>
		<li>3. Authors must register on or before 27th march 2015.</li>
	</ul>
<h3>EVENT REGISTRATION</h3>
 	<ul style="line-height:20px;font-size:14px;background-color:white;color:black;">
		<li>1. The Demand Draft for the required amount must be drawn.</li>
 		<li>2. The DD number must be entered along with the name of the bank and branch.</li>
		<li>3. The scanned copy of the DD must be uploaded.</li>
	</ul>
	<h3>
	Payment Detials
</h3>
	<table style="width:400px;">
<tr>
	<th style="border:1px solid #151515">
		Type of person
	</th>
	<th style="border:1px solid #151515">
		Amount to be paid
	</th>
</tr>
<tr>
	<td style="border:1px solid #151515">
		Students
	</td>
	<td style="border:1px solid #151515">
		Rs. 600 
	</td>
</tr>
<tr>
	<td style="border:1px solid #151515">
		Faculty
	</td>
	<td style="border:1px solid #151515">
		Rs. 800
	</td>
</tr>
<tr>
	<td style="border:1px solid #151515">
		Delegates
	</td>
	<td style="border:1px solid #151515">
		Rs. 1000
	</td>
</tr>
</table>
<h3>UPLOAD YOUR PAPER</h3>
	<ul style="line-height:20px;font-size:14px;background-color:white;color:black;">
		<li>1. Select the paper type and enter the Title and Abstract.</li>
		<li>2. Upload your full paper.</li>
		<li>3. If necessary, the paper can be edited and uploaded again.</li>
	</ul>
	
</div>
<!-- /inner -->
</div> <!-- /span8 -->
</div>

<br>
<br>
<h3 style="background-color:white; color:red;text-align:center">Topics of interest for submission include, but are not limited to: </h3>
</div>	 	
<div class="clearfix"></div>
<br>
<div class="span14" style="background-color:white;color:#333;">
<div class="inner untop" >
<table align="center" style="font-size:14px; margin-left:45px; color:black;width:700px" >
<tr>
<td>
<h3 style="margin-left:40px; color:#333;font-size:28px">CSE & IT:</h3><br>
<p style="margin-left:40px; color:black;font-size:14px;line-height:20px" >
Cloud Computing<br>
Grid computing<br>
Big data<br>
Mobile computing <br>
Computer & network security<br>
Data/Text mining<br>
Internet information systems & technologies<br>
Semantic web & web services<br>
Cluster Computing <br>
Open Source technology<br>
Cyber Crime and Security <br>
AI & Expert System </p>
</td>
<td>
<font style="margin-left:300;font-size:14px"><b>Contact Number:<br> Dr.J.Dafni Rose - 9840009246
<br> Dr.R.Kalarani - 9840009250</font></b>
</td>
</tr>
<tr>
<td>
<h3 style="font-size:28px;margin-left:40px; color:#333">ECE:</h3><br>
<p style="font-size:14px;margin-left:40px; color:black;line-height:20px" >Coding Theory & Cognitive Radios<br>
Array Signal Processing<br>
Image/Video & Speech/Audio Processing<br>
Wireless Communication<br>
Next Generation Networks<br>
Biomedical Systems/Biological Networks<br>
RF/Microwaves/Antennas<br>
Optical Communications<br>
Adhoc and Sensor networks<br>
Smart Grids and Green Technology<br>
DSP Algorithms and Architecture<br>
VLSI and Embedded Systems</p>
</td>
<td>
<font style="margin-left:300;font-size:14px"><b>Contact Number:<br>
Dr.C.Gnana Kousalya - 9840009247</font></b>
</td>
</tr>
<tr>
<td>
<h3 style="margin-left:40px;font-size:28px; color:#333">EEE:</h3><br>
<p style="margin-left:40px; color:black;font-size:14px;line-height:20px" >Renewable Energy Resources<br>
Power system stability and control<br>
Power quality<br>
Embedded systems<br>
Special Electrical Machines<br>
Converters and Inverters<br>
Network Harmonics<br>
Power System Design</p>
</td>
<td>
<font style="margin-left:300;font-size:14px"><b>Contact Number:<br>Dr.D.Kirubakaran - 9840009248</font></b>
</td>
</tr>
<tr>
<td>
<h3 style="font-size:28px;margin-left:40px; color:#333">MECH:</h3><br>
<p style="margin-left:40px; color:black;font-size:14px;line-height:20px" >Fluid Mechanics<br>
Recent Trends in Automobiles<br>
Fracture Mechanics<br>
Waste Management<br>
CAD/CAM/CAE<br>
Advances in Manufacturing Technology<br>
Enviroinmental Engineering & Energy Resources<br>
Quality and Reliable Engineering<br>
Reverse Engineering<br>
Dynamic Mechanical Analysis, Optimization and Control.<br>
</td><td>
<font style="margin-left:300;font-size:14px"><b>Contact Number:<br> Dr.K.Arun Vasantha Geethan - 9840009249</font></b>
</td>
</tr>
<tr>
<!-- <td>
<h3 style="margin-left:40px; color:#000">MATH:</h3><br>
<p style="margin-left:40px; color:#000" >Discrete Mathematics<br>
Language Theory<br>
Applied Statistics<br>
Fluid Mechanics</p>
</td> -->
<!-- <td>
<font style="margin-left:300"><b>Contact Number:<br>Dr.T.Kalyani - 9840009435</font></b>
</td> -->
</tr>
</table>
</div>

<!-- End Class groupBottom -->
</section><!-- /topspace whiteshadow bg-black -->
<!-- /container -->
</div>
</div>
<div>
<br><br>
<h4><strong><center>SAMPLE PAPER FORMAT</center></strong></h4>

		<center><%= link_to image_tag("download_icon.jpg"),download_doc_path	 %>
</center>
</div>