<br>
<div class="col-md-8">
<div class="row" >
<section class="topspace topspace-40 whiteshadow ">
<div class="span12" style="background-color:white;color:#333;">
<div class="inner " style="background-color:white;color:#333;" >
<h2 style="color:red;">SUBMISSION OF PAPERS</h2>
<ul style="font-size:15px">
<li>Authors are required to submit their papers (maximum of 8 A4 sized pages) adhering to the IEEE specified format.
<li>Authors must upload their papers onto the conference website.
<li>The submitted papers must be original and unpublished.
<li>Double blind peer reviews will be followed.
<li>Registrations must be done online and a scanned copy of the Demand Draft must be enclosed with it.
<li>The DD must be drawn in favour of "St.Joseph's Institute of Technology", payable within Chennai at any nationalised bank.
<li>Selected papers will be pubished in the International Journal of Advances in Engineering, Research (IJAER).
</ul>
<!-- Service text-->
<h2><span>CALL FOR PAPERS</span></h2>
<div class="heading_border">
<br>
<h3 style="margin-left:-40px;background-color:white; color:black">Topics of interest for submission include, but are not limited to: </h3>
</div>
</div><!-- /inner -->
</div> <!-- /span12 -->
<div class="clearfix"></div>
<br>
<div class="span14" style="background-color:white;color:#333;">
<div class="inner untop" >
<table align="center" style="font-size:14px; margin-left:45px; color:black;width:700px" >
<tr>
<td>
<h3 style="margin-left:40px; color:#333">CSE & IT:</h3>
<br>
<p style="margin-left:40px; color:black" >
Cloud Computing<br>
Grid computing<br>
Big data<br>
Mobile computing <br>
Computer & network security<br>
Data<br>
Text mining<br>
Internet information systems & technologies<br>
AI & Expert System </p>
</td>
<td>
<font style="margin-left:300"><b>Contact Number:<br> Dr.J.Dafni Rose - 9840009246
<br> Mrs.R.Kalarani - 9840009250</font></b>
</td>
</tr>
<tr>
<td>
<h3 style="margin-left:40px; color:#333">ECE:</h3><br>
<p style="margin-left:40px; color:black" >VLSI<br>
Embedded Systems<br>
Digital Image Processing<br>
Digital Signal Processing <br>
Wireless Communication<br>
Wireless Sensor Network</p>
</td>
<td>
<font style="margin-left:300"><b>Contact Number:<br>
Dr.C.Gnana Kousalya - 9840009247</font></b>
</td>
</tr>
<tr>
<td>
<h3 style="margin-left:40px; color:#333">EEE:</h3><br>
<p style="margin-left:40px; color:black" >Advances in Power Electronic Converters and drives<br>
Trends in FACTS & HVDC transmission<br>
Soft Computing Techniques applied to Power System<br>
Robotics and Industrial Automation<br>
Recent trends in Electric Drives
</p>
</td>
<td>
<font style="margin-left:300"><b>Contact Number:<br>Dr.D.Kirubakaran - 9840009248</font></b>
</td>
</tr>
<tr>
<td>
<h3 style="margin-left:40px; color:#333">MECH:</h3><br>
<p style="margin-left:40px; color:black" >Thermal Engineering<br>
Design Engineering<br>
Manufacturing Engineering<br>
Industrial Engineering and Waste Management</p>
</td><td>
<font style="margin-left:300"><b>Contact Number:<br> Dr.K.Arun Vasantha Geethan - 9840009249</font></b>
</td>
</tr>
<tr>
<!-- <td>
<h3 style="margin-left:40px; color:#000">MATH:</h3><br>
<p style="margin-left:40px; color:#000" >Discrete Mathematics<br>
Language Theory<br>
Applied Statistics<br>
Fluid Mechanics</p>
</td> -->
<!-- <td>
<font style="margin-left:300"><b>Contact Number:<br>Dr.T.Kalyani - 9840009435</font></b>
</td> -->
</tr>
</table>
</div>
<!-- /inner -->
</div> <!-- /span8 -->
</div>
<br>
<!-- End Class groupBottom -->
</section><!-- /topspace whiteshadow bg-black -->
<!-- /container -->
</div>
<div>
<br><br>
<h4><strong><center>SAMPLE PAPER FORMAT</center></strong></h4>

		<center><%= link_to image_tag("download_icon.jpg"),download_doc_path	 %>
</center>
</div>