
<div class="row" >
	<section class="topspace topspace-40 blackshadow bg-white">   


	<div class="breadcrumbline"></div>

	<div class="span12" >
		<div class="inner " >	


			<!-- Service text-->
			<h2><span>CALL FOR PAPERS</span></h2>


			<div class="heading_border">
				<br>
				<h3 style="margin-left:-40px; color:#000">Topics of interest for submission include, but are not limited to: </h3> 
			</div>
		</div><!-- /inner -->
	</div>	<!-- /span12 -->

	<div class="clearfix"></div>	

	<br>


	<div class="span14" >
		<div class="inner untop" >
			<table align="center" style="font-size:14px; margin-left:40px; color:#000" cellpadding="50"> 
				<tr>

					<td>
						<h3 style="margin-left:40px; color:#000">CSE & IT:</h3>

						<br>
						<p style="margin-left:40px; color:#000" >

							Cloud Computing<br> 
							Grid computing<br>
							Big data<br>
							Mobile computing <br>
							Computer & network security<br>
							Data<br>
							Text mining<br>
							Internet information systems & technologies<br>
							AI & Expert System </p>
					</td>
					<td>
						<font style="margin-left:300"><b>Contact Number:<br> Mrs.J.Dafni Rose - 9840009246
								<br>	Mrs.R.Kalarani - 9840009250</font></b>
					</td>
				</tr>
				<tr>
					<td>
						<h3 style="margin-left:40px; color:#000">ECE:</h3><br>
						<p style="margin-left:40px; color:#000" >VLSI<br>
							Embedded Systems<br>
							Digital Image Processing<br>
							Digital Signal Processing	<br>
							Wireless Communication<br>
							Wireless Sensor Network</p>
					</td>
					<td>
						<font style="margin-left:300"><b>Contact Number:<br>
								Dr.C.Gnana Kousalya - 9840009247</font></b>
					</td>
				</tr>
				<tr>
					<td>
						<h3 style="margin-left:40px; color:#000">EEE:</h3><br>
						<p style="margin-left:40px; color:#000" >Advances in Power Electronic Converters and drives<br>
							Trends in FACTS & HVDC transmission<br>
							Soft Computing Techniques applied to Power System<br>
							Robotics and Industrial Automation<br>
							Recent trends in Electric Drives
							</p>
					</td>
					<td>
						<font style="margin-left:300"><b>Contact Number:<br>Dr.D.Kirubakaran - 9840009248</font></b>
					</td>
				</tr>
				<tr>
					<td>
						<h3 style="margin-left:40px; color:#000">MECH:</h3><br>
						<p style="margin-left:40px; color:#000" >Thermal Engineering<br>
							Design Engineering<br>
							Manufacturing Engineering<br>
							Industrial Engineering and Waste Management</p> 
						</td><td>
						<font style="margin-left:300"><b>Contact Number:<br> Dr.K.Arun Vasantha Geethan - 9840009249</font></b>
					</td>
				</tr>
				<tr>
					<!-- <td>
						<h3 style="margin-left:40px; color:#000">MATH:</h3><br>
						<p style="margin-left:40px; color:#000" >Discrete Mathematics<br>
							Language Theory<br>
							Applied Statistics<br>
							Fluid Mechanics</p> 
					</td> -->
					<!-- <td>
						<font style="margin-left:300"><b>Contact Number:<br>Dr.T.Kalyani - 9840009435</font></b>
					</td>			 -->
				</tr>



			</table>

		</div>
		<!-- /inner -->
	</div>	<!-- /span8 -->


</div>

<br>
<!-- End Class groupBottom  -->

	</section><!-- /topspace blackshadow bg-white -->

    <!-- /container -->    
	 
