<div class="row" >
	<section class="topspace topspace-40 blackshadow bg-white">   


	<div class="breadcrumbline"></div>

	<div class="span12" >
		<div class="inner " >	

			<!-- Service text-->
			<h2><span>COMMITTEE</span></h2>
			<p align="justify">
				Reviewers with the Greater Excellence supporting the Review of the paper Submissions!</p>
			<br>
			<div class="heading_border">
				<br>

			</div>
		</div><!-- /inner -->
	</div>	<!-- /span12 -->

	<div class="clearfix"></div>	





	<table width="800" align="center">
		<tr>
			<td width="400">
				<table align="center" width="400">
					<tr>
						<td align="left">
							<ul>
								<li><strong><font size =3><u>Chief Patron</u></font></strong><br></li>
								<li><strong>Dr.B.BABU MANOHARAN ,M.A.,M.B.A.,Ph.D.,  </strong><br>Managing Director,St.Joseph’s Institute of Technology
								</li>
								<br>
								<br>
								<li><strong><font size =3><u>Patron</u></font></strong><br></li>
								<li><strong>Mrs B.JESSIE PRIYA,B.Com., </strong><br>Director,St.Joseph’s Institute of Technology
								</li>
								<br>
								<li><strong>Mr.B.JAIKUMAR CHRISTHURAJAN,B.E.,M.B.A., </strong><br>Director,St.Joseph’s College of Engineering
								</li>
								<br>
								<li><strong>Mr.B.SHASHI SEKAR,M.Sc.(Intl.Business), </strong><br>Chief Excecutive Officer,St.Joseph’s Institute of Technology
								</li>
								<br>
								<br>
								<li><strong><font size =3><u>Conference Chairman:</u></font></strong><br></li>
								<li><strong>Dr.P.RAVICHANDRAN,M.Tech.,Ph.D., </strong><br>Principal,St.Joseph’s Institute of Technology
									<br>
									<br>
									<li><strong><font size =3><u>Convenors:</u></font></strong><br></li>
									<li><strong>Dr.T.Kalyani M.sc.,M.Phil.,Ph.D </strong><br>
									</li>
									<br>
									<li><strong>Dr.C.Gnana Kousalya M.E.,Ph.D  </strong><br>
									</li>
									<br>
									<li><strong>Dr.D.Kirubakaran M.E.,Ph.D  </strong><br>
									</li>
									<br>
									<li><strong>Dr.K.Arun Vasantha Geethan M.E.,Ph.D </strong><br>
									</li><br>
									<li><strong>Mrs.S.Kalarani	M.E.,(Ph.D)	  </strong><br>
									</li><br>
									<li><strong>Mrs.J.Dafni Rose M.E.,(Ph.D)</strong><br>
									</li>



								</ul>
							</td>
						</tr>
					</table>

					<td width="400">
						<table align="center" width="400">
							<tr>
								<td align="left">
									<ul>
										<li><strong><font size =3><u>Advisory Committee:</u></font></strong><br></li>
										<li><strong>Dr.G.V.Uma,</strong>Professor,CEG,Anna University,Chennai<br>
										</li>
										<br>
										<li><strong>Dr.C.R.Rene Robin</strong>Professor ,Jerusalem College of Engineering,Chennai<br>
										</li>
										<br>
										<li><strong>Dr.Swarup.K.S ,</strong>Professor,EEE ,IIT MADRAS,Chennai<br>
										</li>
										<br>
										<li><strong>Dr.T.Christopher ,</strong>Professor,Department of Mechanical ,GCE,Tirunelveli,Chennai<br>
										</li><br>
										<li><strong>Dr.M.Ganesh Madhan,</strong>Professor,Department of Electronic Engineering,MIT Campus,Anna University,Chennai<br>
										</li><br>
										<li><strong>Dr. V. Raj Kumar Dare</strong>, professor, Madras Christian College, Chennai<br>
										</li><br>


										<br>
										<br>	
										<li><strong><font size =3><u>Coordinators:</u></font></strong><br></li>
										<li><strong>Dr.R.Priscilla M.E.,Ph.D   </strong><br>
										</li>
										<br>
										<li><strong>Mr.M.Bhaskaran M.E.,(Ph.D)</strong><br>
										</li>
										<br>
										<li><strong>Mr.T.Prabhuram M.E.,(Ph.D) </strong><br>
										</li>
										<br>
										<li><strong>Mr.B.Duraibabu M.E.,(Ph.D) </strong><br>
										</li><br>
										<li><strong>Mrs.S.Padmakala M.E.,(Ph.D)</strong><br>
										</li><br>
										<li><strong>Mr.T.T.Raman M.sc.,M.Phil.,(Ph.d) </strong><br>
										</li><br>

										<br>
										<br>	
									</ul>
								</td>
							</tr>
					</table></td><br><br><br><br>


				</table>


				<!-- /inner -->
			</div>	<!-- /span8 -->






			<!-- /row  bg-main -->


			<!-- End Class groupBottom  -->

		</section><!-- /topspace blackshadow bg-white -->
		<!-- /container -->    