<!-- Webfonts -->
    <link type="text/css" rel="stylesheet" href='http://fonts.googleapis.com/css?family=Ubuntu:300italic,300,700'/>
 <style>
      body {
        padding-top: 45px; /* 45px to make the container go all the way to the bottom of the topbar */
	  }
	.slideleft .bg-ma {
	background-image:url(images/bg_940.jpg);
	background-repeat: repeat-y;
	background-position: 10px top;
}
    </style>
    
      
      <div class="row bg-ma" >
      
          <div class="breadcrumbline"></div>
            
            <div class="span8 bg-white">
			<div class="inner unright" >
            
				
				<div >
					<h3>About The College</h3>
					<p align="justify" >                       St.Joseph’s Institute of  Technology, a St.Joseph’s group of Institutions  started  in  the  year  2011.It is a  Christian  Minority  Institution   with   five  streams  viz CSE,  EEE, ECE,   IT  &  MECH. The college has best infrastructure spread across 4 lakhs sq.ft with well equipped laboratories, workshops   and   classrooms.  A    state   of    the   art   infrastructure   including  auditorium, mess  halls, administrative  block   covering  an area of  10 lakhs sq.ft.  is upcoming.
            Our  college  as  one  of  the  leading  engineering colleges,  focuses  on  inculcating   not  only   knowledge but  also   good   ethics   to   the  budding  engineers   of  future    India.  This   proves   to be the uniqueness   of St. Joseph’s Institute of Technology.
</p><br>
                    <h3>Conference Theme</h3>
					
					<p class="" align="justify" >The primary goal of the conference is to promote research and developmental activities in the recent trends in engineering and technology. It also helps to unite the great minds who believe in the need, for a technologically literate society. This conference on the recent trends in engineering and technology promises enormous potential to stimulate educational opportunities to the researchers, academicians and post graduate students. It is a powerful tool for the educators to interact with their peers, share knowledge and ideas. It also offers innovative technical resources to support professional learning for educators and education leaders.</p>
<br>
				<h3>About ISR Journals</h3>	
                <p class="" align="justify" >ISR Journals and Publications is a Privately held Company, dedicated to the Global Dissemination of Information through an unparalleled commitment to Quality, Reliability and Innovation. As of today, we are one of the leading National and International Journal Publishers and Distributors and serve more than 10 million Scientists, Research Scholars, Educational Institutions, Governmental Bodies, Corporate, Scientific and Engineering Libraries and private research firms across the globe.</p>
             
               <p class="" align="justify" > All the selected Papers will be published in the International Journals along with the ISSN Number.<br>
   *The Proceedings of the Conference will be published by ISR Journals - CPS Conference Publishing Services).<br>
   *On-line Indexing for Proceedings.<br>
    *Indexed in Google Scholar, Researchgate, DOAJ,...<br>
    
    </p>
				</div>
			
               
                				
<!--      			<div class="heading_border"></div>	
-->				
				
                <!-- News Events text-->
                
<!--                <div class="heading_border"></div>
-->				
                   
					<!--<div class="clearfix"/>
			  </div>-->
					
					<!--Twitter -->
					<!-- /notifly bg-gray -->
                    <!--Featured Bottom -->

							 <div class="clearfix"></div>
					 

							
					<!--Ads Bottom -->
					<!--<div class="ads_bottom row-fluid">
						  <div class="one_half">
								<a  href="#" class="bwWrapper">
									<img src="images/custom.png" >
								</a>
						  </div>
						  <div class="one_half">
								<a href="#" class="bwWrapper" style="margin-left:10px; cursor:pointer;" >
									<img src="images/amazing.jpg">
								</a>
						  </div>
					</div><!--/ Ads Bottom -->
					
							<div class="brake">
								​<div class="circle"></div>​​​​​​​​​​​​​​​​​​​​​​​​​
							</div><!---/brake--->

					
            </div><!-- /inner -->
			</div><!-- /span8 bg-white -->
			
			<div class="span4 bg-black">
			
					<!--Header Title-->
				
					<div class="clearfix"></div>
					
					<!-- /Customer - menu  --> 
					<ul class="ca-menu bg-gray">
					<li>
						<a href="#">
							
							<div class="ca-content">
								<span class="ca-main">Conference Date</span><br>
								<p style="font-size:20px; margin-left:-30px"><b>&nbsp&nbspApril 5th, 2014</b></p>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							
							<div class="ca-content1">
								<span class="ca-main1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspConference Venue</span><br>
								<p style="font-size:15px" align=left><b>&nbsp&nbsp&nbspSt.Joseph's Institute of Technology,<br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Chennai</b></p>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							
							<div class="ca-content">
								<span class="ca-main">Conference Brochure</span><br>
								<p style="font-size:20px; margin-left:13px"><b>click here</b></p>
							</div>
						</a>
					</li>
                    <!--<li>
						<a href="#">
							
							<div class="ca-content">
								<span class="ca-main">On Spot Registration</span>
								<span class="ca-icon">08/03/2014</span>
							</div>
						</a>
					</li>
                    <li>
						<a href="#">
							
							<div class="ca-content">
								<span class="ca-main">Conference Date</span><br>
								<p style="font-size:20px; margin-left:-25px"><b>March 08 & 09, 2014</b></p>
							</div>
						</a>
					</li>-->
					
					</ul>  <!-- /ca-menu  --> 
					
					<!--Header Title-->
					
                    <br>
                    <br>		<!--FeatuedBox -->
					<div>
					  <div class="featuedBox">
						  <div class="imgShow" >
						  <!--<div class="ribbon-wrapper right"><div class="ribbon">From $99</div></div>-->
							  <a href="http://isrjournals.org/" target="_blank" class="zoom">
								  <img src="images/thumbnail-1.jpg" class="zoom"   alt="thumbnail" width="100%" />
							  </a>
						  </div>
					  </div><!-- End Class featuedBox  --> 
			  </div>
              
			  
					  
					<!--<div class="socialmedia">
						<a class="social-item googleplus" href="www.google.co.in" title="find us googleplus">g</a>
						<a class="social-item facebook" href="www.facebook.com" title="find us facebook">f</a>
						<a class="social-item twitter" href="www.twitter.com" title="find us twitter">t</a>
						<a class="social-item youtube" href="www.youtube.com" title="find us youtube">y</a>					</div>-->
	
					
			</div><!-- /span4 bg-black -->
      
            
           
      <!-- /row  bg-main -->
	
	   </div>
       	  <table align="center" cellpadding="50">
		  <tr>
		  <td>
                <table align="center" >
                <tr>
                <td><h3 align="Center"><b>Organized  by </b></h3><br>
				<a href="http://stjosephstechnology.ac.in/"><img src="images/sjit.png" alt="SJIT"/></a></td>
                            
                </tr>
                </table></td>
				<td>
 <h3 align="center"><b>In Association with</b></h2>
 <br>
                <table align="center">
                <tr>
                <td><a href="http://www.csi-india.org/"><img src="images/csi.png" height="120" width="120"  alt="CSI"/></a></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><a href="http://isrjournals.org/"><img src="images/isrlogo.png" height="120" width="120" alt="ISR"/></a></td>
                </tr>
                </table>
                <br>
				</td>
				</tr>
				</table>
                <h3 align="center"><b>Archieved and Indexed by</b></h2>
                <br>
				<table align="center" >
                <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.researchgate.net/"><img src="images/rsr.png" /></a></td>
				                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								                 <td><a href="http://www.doaj.org/"><img src="images/doaj.jpg" /></a></td>                 
				                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp </td>

                <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://scholar.google.co.in/intl/en/scholar/about.html"><img src="images/google.png" /></a></td>
				                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp </td>
                </tr>
                </table>
                <br>
            
                            <br>
               
               <table align="center" width="500px" >
                <tr>
				
				
                </tr>
                </table>
                <br>
                <table align="center">
                <tr>
                
                </tr>
                </table>
	
	<footer>
    
    <div align="left" style="margin-left:50px; margin-top:25px">
   

<noscript><a href="http://www.histats.com/" target="_blank"><img  src="../sstatic1.histats.com/01af5.gif?2213193&amp;101" alt="free tracking" border="0"></a></noscript>
    </div>
    
    <!-- BEGIN: Powered by Supercounters.com -->

<div align="center" style="margin-top:-25px">

</div>
<!-- END: Powered by Supercounters.com -->
<div align="right" style="margin-top:-35px; margin-right:25px">

<div id="clustrmaps-widget"></div></a></noscript>
<br><br><br>
</div>
    
             <div class=" copyright"> Copyright &copy; <a href="http://www.stjosephstechnology.ac.in/">St.joseph's Institute Of Technology</a></div>
	</footer><!-- End  footer  -->
