
<!-- Webfonts -->
<link type="text/css" rel="stylesheet" href='http://fonts.googleapis.com/css?family=Ubuntu:300italic,300,700'  >

<!--<style>	
	/* Tables */
/*th{border-bottom: 1px solid #f1f1f1;}
table {border: 1px solid #f1f1f1;border-bottom:0; background:#FFCC66; font-family:Arial, Helvetica, sans-serif; font-size:12px}
tr td {border-bottom: 1px solid #f1f1f1;}
tr.odd td {background: #F2F7FC;}*/
table {
	border-collapse:separate;
	border-spacing:0;

}
table thead tr {
	border-top:none;
	color:#c9c9c9;
}
table thead tr:hover {
	border-top:none;
	color:#c9c9c9;
	background:none
}
table thead td {
	border-top:none;
	color:#c9c9c9;
	background:#262424;
}
.ambitios_first_td {
	border-top:none;
	color:#c9c9c9;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border--bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border--top-left-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid #373737;
}
.ambitios_last_td {
	border-top:none;
	color:#c9c9c9;
	-moz-border-radius-bottomright: 5px;
	-webkit-border--bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #373737;
}
table td {
	background-color:#5F6363;
	border-top:none;
	color:#FBF9F9;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border--bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border--top-left-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid #CCC;
	-moz-border-radius-bottomright: 5px;
	-webkit-border--bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	padding:12px 0 12px 20px;
	border-top:1px solid #d4d4d4
}
.ambitios_border_none td {
	border-top:none	
}
table tr:hover {
	background:#e6e6e6;
}
</style> */   
<div class="col-md-12 bg-white" > -->

	<!-- breadcrumbline-->
	<br>

	<div class="col-md-8 bg-white">
		<div class="inner unright">
			<!-- Exclusive  text-->
			<h2><span>IMPORTANT DATES</span></h2>
			<div class="heading_border"></div>
			<!--<br>
			<div class="ambitios_container_16">

				<div class="ambitios_wrapper">
					<div style="text-align:center;">  
						<table align="left" width="550px" height="400px" style="margin-left:5px;font-size:14px"  border="0" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
									<td class="ambitios_first_td">Event</td>
									<td class="ambitios_last_td">Date</td>
								</tr>
							</thead>
							<tr class="ambitios_border_none">
								<td><b>Submission of full paper</b></td>
								<td><b>10-March-2014</b></td>
							</tr>
							<tr>
								<td><b>Notification of acceptance</b></td>
								<td><b>17-March-2014</b></td>
							</tr>
							<tr>
								<td><b>Registration</b></td>
								<td><b>21-March-2014</b></td>

							</tr>
							<tr>
								<td><b>Conference Date</b></td>
								<td><b>5-April-2014</b></td>

							</tr>
							<br>

						</table><br />
					</div>
				</div>
 			</div>
		</div>
		 /inner -->
		 <style>/* -------------------------------------
 * For horizontal version, set the
 * $vertical variable to false
 * ------------------------------------- */
/* -------------------------------------
 * General Style
 * ------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
#body1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  font-size: 100%;
  font-family: "Noto Sans", sans-serif;
  color: #000;
  background: #FFF;
}

#h2{
  margin: 3em 0 0 0;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* -------------------------------------
 * timeline
 * ------------------------------------- */
#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 10px;
  border-left: 8px solid #000;
}
#timeline li {
  margin: 40px 0;
  position: relative;
}
#timeline p {
  margin: 0 0 15px;
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -158px;
  font-size: 1.3em;
  line-height: 20px;
  position: absolute;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 10px;
  height: 10px;
  background: #FFF;
  border: 5px solid #000;
  border-radius: 50%;
  display: none;
  position: absolute;
}

.content {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}
.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.content:after {
  border-right-color: white;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
.content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

label {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 20px;
  transition: transform 0.2s linear;
}

.radio {
  display: none;
}

.radio:checked + .relative label {
  cursor: auto;
  transform: translateX(42px);
}
.radio:checked + .relative .circle {
  background: orange;
}
.radio:checked ~ .content {
  max-height: 180px;
  border-color: #000;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .content p {
  max-height: 200px;
  color: #000;
  transition: color 0.3s linear 0.3s;
}

/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */
@media screen and (max-width: 767px) {
  #timeline {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
  #timeline li {
    margin: 50px 0;
  }

  label {
    width: 85%;
    font-size: 1.1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    transform: translateX(18px);
  }

  .content {
    padding-top: 45px;
    border-color: #000;
  }
  .content:before, .content:after {
    border: solid transparent;
    bottom: 100%;
  }
  .content:before {
    border-bottom-color: inherit;
    border-width: 17px;
    top: -16px;
    left: 50px;
    margin-left: -17px;
  }
  .content:after {
    border-bottom-color: #48b379;
    border-width: 20px;
    top: -20px;
    left: 50px;
    margin-left: -20px;
  }
  .content p {
    font-size: 0.9em;
    line-height: 1.4;
  }

  .circle, .date {
    display: none;
  }
}
</style>
<div class="col-md-2"></div>
<div class="col-md-10">
<div id="body1">
 <div id="h2"><h2>Timeline Of Events</h2></div>
<p>The Important Dates for the event are given below.</p>
<ul id='timeline'>
  <li class='work'>
    <input class='radio' id='work5' name='works' type='radio' checked>
    <div class="relative">
      <label for='work5'>Submission Of Full Paper</label>
      <span class='date'>16 March 2015</span>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>
        Upload your full paper within the specified date, in accordance to the IEEE standard format(max 8 pages). It must be original and unpublished.
      </p>
    </div>
  </li>
  <li class='work'>
    <input class='radio' id='work4' name='works' type='radio'>
    <div class="relative">
      <label for='work4'>Notification Of Acceptance</label>
      <span class='date'>23 March 2015</span>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>
        The papers will be judged, and if accepted, a notification of acceptance will be sent to the author.
      </p>
    </div>
  </li>
  <li class='work'>
    <input class='radio' id='work3' name='works' type='radio'>
    <div class="relative">
      <label for='work3'>Registration</label>
      <span class='date'>31 March 2015</span>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>
          Registration must be done online, and a scanned copy of DD needs to be uploaded.
      </p>
    </div>
  </li>
  <li class='work'>
    <input class='radio' id='work2' name='works' type='radio'>
    <div class="relative">
      <label for='work2'>Conference Date</label>
      <span class='date'>10 April 2015</span>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>
        The authors have to present their paper in the conference. 
      </p>
    </div>
  </li>
  </ul>
</div>
	</div><!-- /span8 bg-white -->
	</div>
  </div>
	<!-- End Class groupBottom  -->
	</section><!-- /topspace blackshadow bg-white -->
	<!-- /container -->

