<!-- Webfonts -->
<link type="text/css" rel="stylesheet" href='http://fonts.googleapis.com/css?family=Ubuntu:300italic,300,700'  >
<style>
	body {
		padding-top: 45px; /* 45px to make the container go all the way to the bottom of the topbar */
	}
</style>

<style>
	/* Tables */
/*th{border-bottom: 1px solid #f1f1f1;}
table {border: 1px solid #f1f1f1;border-bottom:0; background:#FFCC66; font-family:Arial, Helvetica, sans-serif; font-size:12px}
tr td {border-bottom: 1px solid #f1f1f1;}
tr.odd td {background: #F2F7FC;}*/
table {
	border-collapse:separate;
	border-spacing:0;

}
table thead tr {
	border-top:none;
	color:#c9c9c9;
}
table thead tr:hover {
	border-top:none;
	color:#c9c9c9;
	background:none
}
table thead td {
	border-top:none;
	color:#c9c9c9;
	background:#373737;
}
.ambitios_first_td {
	border-top:none;
	color:#c9c9c9;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border--bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border--top-left-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid #373737;
}
.ambitios_last_td {
	border-top:none;
	color:#c9c9c9;
	-moz-border-radius-bottomright: 5px;
	-webkit-border--bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #373737;
}
table td {
	background-color:#CCC;
	border-top:none;
	color:#000;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border--bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border--top-left-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid #CCC;
	-moz-border-radius-bottomright: 5px;
	-webkit-border--bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	padding:12px 0 12px 20px;
	border-top:1px solid #d4d4d4
}
.ambitios_border_none td {
	border-top:none	
}
table tr:hover {
	background:#e6e6e6;
}
</style>    
<div class="row bg-main" >

	<!-- breadcrumbline-->
	<div class="breadcrumbline"></div>

	<div class="span8 bg-white">
		<div class="inner unright">


			<!-- Exclusive  text-->
			<h2><span>IMPORTANT DATES</span></h2>
			<div class="heading_border"></div>
			<br>
			<div class="ambitios_container_16">

				<div class="ambitios_wrapper">
					<div style="text-align:center;">  
						<table align="left" width="550px" height="400px" style="margin-left:5px;font-size:14px"  border="0" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
									<td class="ambitios_first_td">Event</td>
									<td class="ambitios_last_td">Date</td>
								</tr>
							</thead>
							<tr class="ambitios_border_none">
								<td><b>Submission of full paper</b></td>
								<td><b>10-March-2014</b></td>
							</tr>
							<tr>
								<td><b>Notification of acceptance</b></td>
								<td><b>17-March-2014</b></td>
							</tr>
							<tr>
								<td><b>Registration</b></td>
								<td><b>21-March-2014</b></td>

							</tr>
							<tr>
								<td><b>Conference Date</b></td>
								<td><b>5-April-2014</b></td>

							</tr>
							<br>

						</table><br />
					</div>
				</div>


			</div>




		</div>
		<!-- /inner -->
	</div><!-- /span8 bg-white -->

	<div class="span4 bg-white" >
		<div class="inner untop unleft" >	
			<br>
			<!-- Our service Text-->
			<!--<h4><strong>SAMPLE PAPER FORMAT</strong></h4>
			<br>
			<a href="ISRJ_Paper_Template.docx" >
				<img src="images/download_icon.jpg"  style=" margin-left:30px"/></a>
			<br>-->
			<br>
			<br>
			<h4><strong><center>IN ASSOCIATION WITH</center></strong></h4>
			<br>
			<br>
			<center><a href="http://www.csi-india.org/" target="_blank"> <img src="images/csi.png" height="100" width="100"/>&nbsp;</center></a>

			<br>
			<br>
			<center><a href="http://isrjournals.org/" target="_blank"> <img src="images/isrlogo.png" height="100" width="100"/>&nbsp;</center></a>
			<br>
			<br><br>
			<h4><strong><center>INDEXING WITH</center></strong></h4>
			<br>
			<br><br>
			<center><a href="http://www.researchgate.net/ target="_blank"> <img src="images/rsr.png"/>&nbsp;</center></a>
			<br>
			<br><br>
			<center><a href="http://scholar.google.co.in/intl/en/scholar/about.html" target="_blank"> <img src="images/google.png"/>&nbsp;</center></a>
			<br><br>

			<center><a href="http://www.doaj.org/" target="_blank"> <img src="images/doaj.jpg"/>&nbsp;</center></a>

			<br>   <br>   <br>   <br>

			<a href="http://isrjournals.org/" target="_blank">&nbsp;
				<br /><br />
				&nbsp;
				<br /><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br /><br /><br /><br /><br /><br /><br />
			</a>
			&nbsp;
			<br /><br />



		</div>

		<!-- /tabbable -->
		<!--<div class="socialmedia">
			<div class="inner untop">
				<h3>Social item</h3><br>
				<a class="social-item facebook" href="#" title="find us facebook">f</a>
				<a class="social-item twitter" href="#" title="find us twitter">t</a>
				<a class="social-item googleplus" href="#" title="find us googleplus">g</a>
				<a class="social-item youtube" href="#" title="find us youtube">y</a>			</div>
		</div>
		-->					<div class="clearfix"></div>

	</div><!-- /span4 bg-black -->


</div><!-- /row  bg-main -->

<div class="columnBottom ">
	<div class="clearfix"></div>
</div><!-- End Class groupBottom  -->

	</section><!-- /topspace blackshadow bg-white -->
	<!-- /container -->
	<footer>

		<div align="left" style="margin-left:50px; margin-top:25px">


			<noscript><a href="http://www.histats.com/" target="_blank"><img  src="../sstatic1.histats.com/01af5.gif?2213193&amp;101" alt="free tracking" border="0"></a></noscript>
		</div>

		<!-- BEGIN: Powered by Supercounters.com -->

		<div align="center" style="margin-top:-25px">

		</div>
		<!-- END: Powered by Supercounters.com -->
		<div align="right" style="margin-top:-35px; margin-right:25px">

			<div id="clustrmaps-widget"></div></a></noscript>
	<br><br><br>
</div>

<div class=" copyright"> Copyright &copy; <a href="http://www.stjosephstechnology.ac.in/">St.joseph's Institute Of Technology</a></div>
	</footer><!-- End  footer  -->

</body>
<!-- Mirrored from cse.researchcommunity.in/dates.html by HTTrack Website Copier/3.x [XR&CO'2013], Fri, 24 Jan 2014 12:45:53 GMT -->
</html>
