<div class="row bg-main" >

	<!-- breadcrumbline-->
	<div class="breadcrumbline"></div>

	<div class="span8 bg-white">
		<div class="inner unright">

			<!-- Exclusive  text-->
			<h2><span>PAPER ETHICS</span></h2>
			<div class="heading_border"></div>

			<p><h2 style="color:#069">Manuscript Submission:</h2></p>
			<br>

			<p align="justify">The Manuscript must be in the format which is strictly specified in the conference website. Only the selected Manuscript will get the intimation to be published. Kindly don’t submit the Manuscript for multiple times, because it may lead to cancellation of your article/paper.</p>

			<p><h2 style="color:#069">Manuscript Page Limit:</h2></p>

			<p>Regular Manuscript: 8 pages, including all figures, tables, and references.</p>

			<p><h2 style="color:#069">Purchasing Extra Pages:</h2></p>

			<p>Extra pages can be purchased at 500 (INR) per extra page.</p>

			<p><h2 style="color:#069">Submission Methods:</h2></p>

			<p><h3> Send papers via email </h3></p>
			<br>
			<h3>Email addresses for the respective Departments</h3><br>
			<table bgcolor="#FFCC66" width="600px" align="center" style=" text-align:center">
				<thead bgcolor="#666666" style=" color:#FFF">
					<tr>
						<th>Department</th>
						<th>Email</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>CSE & IT </td>
						<td>csitpapers@ncrtet2014.com</td>
					</tr>
					<tr>
						<td>ECE</td>
						<td>ecepapers@ncrtet2014.com </td>


					</tr>
					<tr >
						<td>EEE</td>
						<td>eeepapers@ncrtet2014.com</td>


					</tr>
					<tr >
						<td>MECHANICAL</td>
						<td>mechpapers@ncrtet2014.com</td>


					</tr>
					<tr >
						<td>MATH</td>
						<td>mathpapers@ncrtet2014.com</td>


					</tr>
					<!--<tr>
						<td>Industry Professional</td>
						<td>USD 550 / EURO 430</td>

					</tr>-->

					<!--<tr>
						<td>Industry Professional</td>
						<td>USD 550 / EURO 430</td>

					</tr>-->


				</tr>
			</tbody>
		</table>



		<p><h2 style="color:#069">Author/Co-Author Registration Fee Includes:</h2></p>

		Welcome Reception<br>
		Conference Accessories<br>
		ID<br>
		CD of Proceedings<br>
		Participation in the Technical Program<br>
		Lunch<br>
		Banquet<br>
		Coffee Breaks
		<br /><br>



		<!-- stack-album-->
	</div>
	<!-- /inner -->
</div><!-- /span8 bg-white -->

<div class="span4 bg-white" >
	<div class="inner untop unleft" >	
		<br><br><br><br>
		<!-- Our service Text-->
		<h4><strong><center>SAMPLE PAPER FORMAT</center></strong></h4>

		<center><a href="ISRJ_Paper_Template.docx" >
				<img src="images/download_icon.jpg"  /></center></a>
		<br>
		<br>
		<h4><strong><center>COPY RIGHT FORM</center></strong></h4>

		<center><a href="Copyright%20forms.docx" >
				<img src="images/download_icon.jpg"  /></center></a>
		<br>
		<br>
		<h4><strong><center>ORGANIZED & PUBLISHED BY</center></strong></h4>
		<br><br>
		<center><a href="http://www.stjosephstechnology.ac.in/" target="_blank"><img src="images/sjit.png"  /></center><br><br><br>


			<br></a>
		<h4><strong><center>IN ASSOCIATION WITH</center></strong></h4>
		<br>
		<br>
		<center><a href="http://www.csi-india.org/" target="_blank"> <img src="images/csi.png" height="100" width="100"/>&nbsp;</center></a>

		<br>
		<br>
		<center><a href="http://isrjournals.org/" target="_blank"> <img src="images/isrlogo.png" height="100" width="100"/>&nbsp;</center></a>
		<br>
		<br><br>
		<h4><strong><center>INDEXING WITH</center></strong></h4>
		<br>
		<br><br>
		<center><a href="http://www.researchgate.net/ target="_blank"> <img src="images/rsr.png"/>&nbsp; 
		</center></a>
		<br>
		<br><br>
		<center><a href="http://scholar.google.co.in/intl/en/scholar/about.html" target="_blank"> <img src="images/google.png"/>&nbsp;</center></a>
		<br><br>

		<center><a href="http://www.doaj.org/" target="_blank"> <img src="images/doaj.jpg"/>&nbsp;</center></a>


	</a>

	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>




</div>

<!-- /tabbable -->
<!--<div class="socialmedia">
	<div class="inner untop">
		<h3>Social item</h3><br>
		<a class="social-item facebook" href="#" title="find us facebook">f</a>
		<a class="social-item twitter" href="#" title="find us twitter">t</a>
		<a class="social-item googleplus" href="#" title="find us googleplus">g</a>
		<a class="social-item youtube" href="#" title="find us youtube">y</a>			</div>
</div>
-->					<div class="clearfix"></div>

			</div><!-- /span4 bg-black -->


		</div><!-- /row  bg-main -->

		<div class="columnBottom ">
			<div class="clearfix"></div>
		</div><!-- End Class groupBottom  -->

	</section><!-- /topspace blackshadow bg-white -->
	<!-- /container -->

	<footer>

		<div align="left" style="margin-left:50px; margin-top:25px">


			<noscript><a href="http://www.histats.com/" target="_blank"><img  src="../sstatic1.histats.com/01af5.gif?2213193&amp;101" alt="free tracking" border="0"></a></noscript>
		</div>

		<!-- BEGIN: Powered by Supercounters.com -->

		<div align="center" style="margin-top:-25px">

		</div>
		<!-- END: Powered by Supercounters.com -->
		<div align="right" style="margin-top:-35px; margin-right:25px">

		</div><br><br>
		<div class=" copyright"> Copyright &copy;  <a href="http://www.stjosephstechnology.ac.in/">St.joseph's Institute Of Technology</a></div>
	</footer><!-- End  footer  -->
