<% if user_signed_in? %>
	<center><%= link_to "Paper Upload",papers_path %></center>
	<center><%= link_to "Enter Payment Details",new_payment_detail_path %></center>
<% else %>
	<h2>SIGN IN!</h2>
<% end %>
<%= check_box_tag 'accept' %>