<style>
td,th {

	border:1px solid #151515;
}
</style>
<div >
<h3>REGISTRATION</h3>
	<ul>
		<li>Authors must register online at the conference website.</li>
		<li>A valid email ID must be given, along with a password of minimum 8 characters.</li>
	</ul>
<h3>EVENT REGISTRATION</h3>
 	<ul>
		<li>The Demand Draft for the required amount must be drawn.</li>
 		<li>The DD number must be entered along with the name of the bank and branch.</li>
		<li>The scanned copy of the DD must be uploaded.</li>
	</ul>
<h3>UPLOAD YOUR PAPER</h3>
	<ul>
		<li>Select the paper type and enter the Title and Abstract.</li>
		<li>Upload your full paper.</li>
		<li>If necessary, the paper can be edited and uploaded again.</li>
	</ul>
</div>
<h3>
	Payment Detials
</h3><ul>
<li><table style="width:400px;">
<tr>
	<th>
		Type of person
	</th>
	<th>
		Amount to be paid
	</th>
</tr>
<tr>
	<td>
		Students
	</td>
	<td>
		Rs. 600 
	</td>
</tr>
<tr>
	<td>
		Faculty
	</td>
	<td>
		Rs. 800
	</td>
</tr>
<tr>
	<td>
		Delegates
	</td>
	<td>
		Rs. 1000
	</td>
</tr>
</table></li></ul>