<div >
<h3>REGISTRATION</h3>
	<ul>
		<li>Authors must register online at the conference website.
		<li>A valid email ID must be given, along with a password of minimum 8 characters.
	</ul>
<h3>EVENT REGISTRATION</h3>
 	<ul>
		<li>The Demand Draft for the required amount must be drawn.
 		<li>The DD number must be entered along with the name of the bank and branch.
		<li>The scanned copy of the DD must be uploaded.
	</ul>
<h3>UPLOAD YOUR PAPER</h3>
	<ul>
		<li>Select the paper type and enter the Title and Abstract.
		<li>Upload your full paper.
		<li>If necessary, the paper can be edited and uploaded again.
	</ul>
</div>