
  <div class="container">
	<div class="header clearfix">
		


		<!--<div class="top Venue & Contact pull-right ">
			<div class="top Venue & Contact pull-right ">

				<a href="https://www.facebook.com/pages/Isrjournals-publications/289236981202329"><img src="images/social_icons/facebook-32x32.png" class="social fade" alt="Facebook"/></a> 


				<a href="https://plus.google.com/114982522114576511885/posts"><img src="images/social_icons/mail.png" class="social fade" alt="Google+"/></a>

				<a href="http://in.linkedin.com/groups/ISRJOURNALS-5020949"><img src="images/social_icons/linkedin.png" class="social fade" alt="Linkedin"/></a>

			</div>
		</div>-->
	</div>
	<section class="topspace topspace-40 blackshadow bg-white">   

		<!-- map_canvas-->
		<div >
			<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?hl=en&amp;ie=UTF8&amp;ll=12.8679169,80.2223648&amp;spn=0.201689,0.338173&amp;t=m&amp;z=12&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.in/maps?hl=en&amp;ie=UTF8&amp;ll=12.8679169,80.2223648&amp;spn=0.201689,0.338173&amp;t=m&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
		</div>

		<div class="col-md-12 bg-white" >

			<!-- breadcrumb-->
			<div class="breadcrumbline"></div>

			<div class="col-md-10 " >
				<div class="inner unright unbottom" >				
					<div class="inner ">

						<address></address>
				<h2><span> Contact Us</span></h2><br>
				<p style="padding:0px 0 0 20px"><font size=5>

								Co-ordinator 

								phone numbers <br><br><font size=4>
									<table  width="650px" height="350px" style="margin-left:5px;font-size:14px"  border="2" cellspacing="0" cellpadding="-5">
										<thead>
		<tr class="ambitios_border_none"  >
			<th style="text-align:center"><font size="3">Department</font></th>								
			<th style="text-align:center"><font size="3">Incharge</font></th>
			<th style="text-align:center"><font size="3">MobileNumber</font></th>
			<th style="text-align:center"><font size="3">E-Mail</font></th>
				

								</tr>
								<tr class="ambitios_border_none" align="center" >
			<td><b>CSE</b></td>
				<td><b>Dr.J.Dafni Rose</b></td>
											
				<td><b>9840009246</b></td>
<td>cseitpapers@ncrtet2015.com</td>
						</tr>
						
				<tr class="ambitios_border_none" align="center" >
			<td><b>ECE</b></td>
				<td><b>Dr.C.Gnana Kousalya</b></td>
											
				<td><b>9840009247</b></td><td>ecepapers@ncrtet2015.com</td>

						</tr>
	<tr class="ambitios_border_none" align="center">
				<td><b>EEE</b></td>
			<td><b>Dr.D.Kirubakaran</b></td>
											
			<td><b>9840009248</b></td><td>eeepapers@ncrtet2015.com</td>

				</tr>
	<tr class="ambitios_border_none" align="center">
		<td><b>MECHANICAL</b></td>
			<td><b>Dr.K.Arun Vasantha Geethan</b></td>
											
<td><b>9840009249</b></td><td>mechpapers@ncrtet2015.com</td>
						</tr>
<tr class="ambitios_border_none" align="center" >
			<td><b>IT</b></td>
				<td><b>Dr.S.Kalarani</b></td>
											
				<td><b>9840009250</b></td>
<td>cseitpapers@ncrtet2015.com</td>
						</tr>

										
										<br>

									</table>
					
								</font>
								


								

								<address></address>

								<br><h2><span>Venue</span>  </h2><br>
								<!--<p style="padding:0px 0 0 10px">-->
								<address>
		<p style="padding:0px 0 0 20px"><font size=4>
			St. Joseph's Institute of Technology,<br><br>
            Old Mamallapuram Road,<br><br>
		    Chennai - 600 119, Tamil Nadu, India.<br><br>
			Ph: 044 - 2450 3132<br><br>
			Fax: 044 - 2450 3133<br><br></font>

										
		</p>

									</address>		
									<div class="clearfix"></div>



								</div><!-- /inner -->
							</div><!-- /inner -->
						</div><!-- /span6 bg-white -->



					</div><!-- /row  bg-main -->

					<br><br>
					<!-- End Class groupBottom  -->


				</section><!-- /topspace blackshadow bg-white -->