#myCarousel{
	
}
body{
	background-color:white;
	}

.navbar{
	background-color:#000000;
	padding-left: 80px;
    margin-left: 25px;
}
#col
{
	color: #000000;
}
.white{
	color: #FFFFFF;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -37px;
}